<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lf.yydp.db.dao.Film_infoMapper">
  <resultMap id="BaseResultMap" type="org.lf.yydp.db.pojo.Film_info">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="f_id" jdbcType="INTEGER" property="fId" />
    <result column="f_name" jdbcType="VARCHAR" property="fName" />
    <result column="f_type" jdbcType="VARCHAR" property="fType" />
    <result column="f_duration" jdbcType="INTEGER" property="fDuration" />
    <result column="f_ontime" jdbcType="DATE" property="fOntime" />
    <result column="f_director" jdbcType="VARCHAR" property="fDirector" />
    <result column="f_country" jdbcType="VARCHAR" property="fCountry" />
    <result column="f_actor" jdbcType="VARCHAR" property="fActor" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.lf.yydp.db.pojo.Film_info">
    <result column="f_summary" jdbcType="LONGVARBINARY" property="fSummary" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, f_id, f_name, f_type, f_duration, f_ontime, f_director, f_country, f_actor
  </sql>
  <sql id="Blob_Column_List">
    f_summary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from film_info
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from film_info
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lf.yydp.db.pojo.Film_info">
    insert into film_info (Id, f_id, f_name, 
      f_type, f_duration, f_ontime, 
      f_director, f_country, f_actor, 
      f_summary)
    values (#{id,jdbcType=INTEGER}, #{fId,jdbcType=INTEGER}, #{fName,jdbcType=VARCHAR}, 
      #{fType,jdbcType=VARCHAR}, #{fDuration,jdbcType=INTEGER}, #{fOntime,jdbcType=DATE}, 
      #{fDirector,jdbcType=VARCHAR}, #{fCountry,jdbcType=VARCHAR}, #{fActor,jdbcType=VARCHAR}, 
      #{fSummary,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="org.lf.yydp.db.pojo.Film_info">
    insert into film_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="fId != null">
        f_id,
      </if>
      <if test="fName != null">
        f_name,
      </if>
      <if test="fType != null">
        f_type,
      </if>
      <if test="fDuration != null">
        f_duration,
      </if>
      <if test="fOntime != null">
        f_ontime,
      </if>
      <if test="fDirector != null">
        f_director,
      </if>
      <if test="fCountry != null">
        f_country,
      </if>
      <if test="fActor != null">
        f_actor,
      </if>
      <if test="fSummary != null">
        f_summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fId != null">
        #{fId,jdbcType=INTEGER},
      </if>
      <if test="fName != null">
        #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fType != null">
        #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fDuration != null">
        #{fDuration,jdbcType=INTEGER},
      </if>
      <if test="fOntime != null">
        #{fOntime,jdbcType=DATE},
      </if>
      <if test="fDirector != null">
        #{fDirector,jdbcType=VARCHAR},
      </if>
      <if test="fCountry != null">
        #{fCountry,jdbcType=VARCHAR},
      </if>
      <if test="fActor != null">
        #{fActor,jdbcType=VARCHAR},
      </if>
      <if test="fSummary != null">
        #{fSummary,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lf.yydp.db.pojo.Film_info">
    update film_info
    <set>
      <if test="fId != null">
        f_id = #{fId,jdbcType=INTEGER},
      </if>
      <if test="fName != null">
        f_name = #{fName,jdbcType=VARCHAR},
      </if>
      <if test="fType != null">
        f_type = #{fType,jdbcType=VARCHAR},
      </if>
      <if test="fDuration != null">
        f_duration = #{fDuration,jdbcType=INTEGER},
      </if>
      <if test="fOntime != null">
        f_ontime = #{fOntime,jdbcType=DATE},
      </if>
      <if test="fDirector != null">
        f_director = #{fDirector,jdbcType=VARCHAR},
      </if>
      <if test="fCountry != null">
        f_country = #{fCountry,jdbcType=VARCHAR},
      </if>
      <if test="fActor != null">
        f_actor = #{fActor,jdbcType=VARCHAR},
      </if>
      <if test="fSummary != null">
        f_summary = #{fSummary,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.lf.yydp.db.pojo.Film_info">
    update film_info
    set f_id = #{fId,jdbcType=INTEGER},
      f_name = #{fName,jdbcType=VARCHAR},
      f_type = #{fType,jdbcType=VARCHAR},
      f_duration = #{fDuration,jdbcType=INTEGER},
      f_ontime = #{fOntime,jdbcType=DATE},
      f_director = #{fDirector,jdbcType=VARCHAR},
      f_country = #{fCountry,jdbcType=VARCHAR},
      f_actor = #{fActor,jdbcType=VARCHAR},
      f_summary = #{fSummary,jdbcType=LONGVARBINARY}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lf.yydp.db.pojo.Film_info">
    update film_info
    set f_id = #{fId,jdbcType=INTEGER},
      f_name = #{fName,jdbcType=VARCHAR},
      f_type = #{fType,jdbcType=VARCHAR},
      f_duration = #{fDuration,jdbcType=INTEGER},
      f_ontime = #{fOntime,jdbcType=DATE},
      f_director = #{fDirector,jdbcType=VARCHAR},
      f_country = #{fCountry,jdbcType=VARCHAR},
      f_actor = #{fActor,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>