<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lf.yydp.db.dao.SeatsMapper">
  <resultMap id="BaseResultMap" type="org.lf.yydp.db.pojo.Seats">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="seat_id" jdbcType="INTEGER" property="seatId" />
  </resultMap>
  <resultMap id="MovieInfoResultMap" type="org.lf.yydp.service.model.MovieInfo">
    <result column="localImgPath" jdbcType="VARCHAR" property="localImgPath" />
    <result column="f_name" jdbcType="VARCHAR" property="f_name" />
    <result column="f_type" jdbcType="VARCHAR" property="f_type" />
    <result column="f_country" jdbcType="VARCHAR" property="f_country" />
    <result column="f_duration" jdbcType="VARCHAR" property="f_duration" />
    <result column="f_ontime" jdbcType="VARCHAR" property="f_ontime" />
    <result column="number" jdbcType="NUMERIC" property="number" />
    <result column="play_time" jdbcType="TIMESTAMP" property="play_time"/>
    <result column="money" jdbcType="NUMERIC" property="money" />
    <result column="rest" jdbcType="NUMERIC" property="rest" />
  </resultMap>
</mapper>